!!! Platform: Switches OS: 12.2
!!! Platform: Catalyst3850, OS: IOSXE 16.3.1
!!! Desc: AAA config for base Access Identity Policy Identity Based Networking
!!! Vars: 
!!! access_identity_policy

policy-map type control subscriber {{ access_identity_policy | default('ACCESS-IDENTITY-POLICY') | string() }} 
 event session-started match-all
  10 class always do-until-failure
  10 authenticate using dot1x priority 10
!!!@
